.profile__edit-button{
    margin: 15px 0 0;
    padding: 0;
    border: 0;
    background: url(../../../images/Edit-Button.svg);
    height: 24px;
    width: 24px;
    transition: opacity .5s;
    align-self: center;
    background-repeat: no-repeat;
    align-self: center;
}
.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}