.popup__button{
  min-width: 358px;    /*1 ревью Исправлено */
  min-height: 50px;    /*1 ревью Исправлено */
  background-color: black;
  margin: 15px 0 0;
  padding: 0;
  border: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  transition: opacity .5s;
  cursor: pointer;
}
.popup__button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 920px){
  .popup__button{
    font-size: 14px;
    line-height: 17px;
    width: 238px;    /*1 ревью Исправлено */
    height: 46px;    /*1 ревью Исправлено */
}
}