.profile__avatar-edit-button {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 120px;
  background-image: url(../../../images/avatar_pan.svg);
  position: absolute;
  /*top: 0;
  left: 0;*/
  transition: 0.3s;
  opacity: 0;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
}