.profile{
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 37px 0 52px;
  margin: auto;
}

@media screen and (max-width: 920px) {
.profile{
  flex-direction: column;
  padding: 36px 0 36px;
  max-width: 282px;
}
}