.profile__subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0 0 0;
  padding: 0;
  width: 366px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 920px) {
  .profile__subtitle {
    text-align: center;
    margin: 8px 0 0 0;
    width: 282px;
    line-height: 17px;
    font-size: 14px;
  }
}