.profile__edit-button {
  background: url(../../../images/edit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  width: 24px;
  height: 24px;
  margin-top: 15px;

  border: 1px solid #fff;
  background-size: 100%;
  cursor: pointer;
  transition: opacity .5s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__edit-button {
    background-size: 100%;
    margin-top: 8px;
    width: 18px;
    height: 18px;
  }
}