.element__button-heart {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background: url(../../../images/Heart-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
  align-self: center;
  margin-right: 20px;
  transition: opacity .5s;
  cursor: pointer;
}

.element__button-heart:hover{
  opacity: 0.5;
}