.popup__button-close{
    position: absolute;
    border: 0;
    padding: 0;
    top: -38px;
    right: -40px;
    background: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    stroke-opacity: unset;
    cursor: pointer;
    transition: opacity .5s;
}
.popup__button-close:hover{
    opacity: 0.6;
}
@media screen and (max-width: 320px){
    .popup__button-close{
        top: -38px;
        right: 0px;
    }
}