.popup__text{
  border: 0;
  padding: 0 0 12px;
  margin: 0px 0px 30px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.94px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);   /*исправление замечаний 1 итерация*/
}